@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), Arial, sans-serif;
  background-image: url('/background_website.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffffff; /* fallback */
  color: #171717;
  margin: 0;
  padding: 0;
}
